/* FONT */
@import url("https://fonts.googleapis.com/css2?&family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.defaultFont {
		font-family: "Poppins", sans-serif;
	}

	.gradient {
		@apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500;
	}
	.hovergradient {
		@apply bg-gradient-to-l from-indigo-500 via-purple-500 to-pink-500;
	}

	.textgradient {
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	.logoFont {
		font-family: "Cookie", cursive;
	}

	.navIcon {
		@apply w-7 h-7 hover:scale-105  transition-all duration-100 ease-in-out;
	}

	.menuLines {
		@apply w-9 h-0.5 bg-black;
	}
}
